.binder {
  --binder-height: 230mm;
  --binder-spine-width: 25mm;
  --binder-width: 158mm;
  --cover-border-color: #513023;
  --cover-color: #7D523D;
  --cover-color-light: #8C6856;

  height: var(--binder-height);
  left: 50%;
  position: absolute;
  top: 50%;
  transform-style: preserve-3d;
  transform: translate(-50%, -50%);
  width: var(--binder-width);

  .fold-container.open .page-stack {
    transform: rotateY(0deg);
  }

  .fold-container.closed .page-stack {
    transform: translateX(var(--paper-hole-offset)) rotateY(-92deg);
  }

  .cover {
    background-image: linear-gradient(
      45deg,
      var(--cover-color),
      var(--cover-color-light)
    );
    border-color: var(--cover-border-color);
    border-style: solid;
    border-width: var(--paper-border-width);
    box-sizing: border-box;
    height: var(--binder-height);
    transform-style: preserve-3d;
  }

  .front-cover {
    border-radius: var(--paper-border-width) 0 0 var(--paper-border-width);
    width: var(--binder-width);
  }

  .spine {
    width: var(--binder-spine-width);
  }

  .back-cover {
    border-radius: 0 var(--paper-border-width) var(--paper-border-width) 0;
    width: var(--binder-width);
  }

  .page-stack {
    height: var(--a5-page-height);
    position: absolute;
    top: calc((var(--binder-height) - var(--a5-page-height)) / 2);
    transform-origin: left;
    transform-style: preserve-3d;
    transition: transform 1s ease-in-out 0s;
    width: var(--a5-page-width);
    
    &.left {
      left: calc(var(--binder-spine-width) - var(--paper-hole-offset));
    }
    &.right {
      right: calc(-1 * var(--paper-hole-offset));
    }
  }
}
