.binder {
  --binder-height: 230mm;
  --binder-spine-width: 25mm;
  --binder-width: 158mm;
  --cover-border-color: #513023;
  --cover-color: #7D523D;
  --cover-color-light: #8C6856;
  --line-color: #d9d9d9;
  --line-height: 6mm;
  --paper-border-width: 1mm;
  --paper-hole-offset: 10mm;
  --page-height: 210mm;
  --page-padding: 7.5mm 5mm 7.5mm 13mm;
  --page-width: 148mm;

  height: var(--binder-height);
  position: relative;
  transform: rotateX(10deg) translateX(var(--paper-hole-offset));
  transform-style: preserve-3d;
  width: var(--binder-width);

  .shadow {
    box-shadow: 0mm 2.5mm 5mm rgba(0, 0, 0, 0.75);
    height: 100%;
    position: absolute;
    right: 0;
    width: 100%;
    &.open:not(.animating) {
      width: calc(2 * var(--binder-width) + var(--binder-spine-width));
    }
  }

  .fold-container {
    height: 100%;
    right: 100%;
    position: absolute;
    top: 0;
    width: fit-content;
    display: flex;
    transform-origin: right;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in-out 0s;
    &.closed { transform: rotateY(91deg); }
  }

  .fold-container.open .page-stack {
    transform: rotateY(0deg);
    transform-origin: left;
    transition: transform 0.5s ease-in-out 0s;
  }

  .fold-container.closed .page-stack {
    transform: rotateY(-91deg);
    transform-origin: left;
    transition: transform 0.5s ease-in-out 0s;
  }

  .cover {
    background-image: linear-gradient(
      45deg,
      var(--cover-color),
      var(--cover-color-light)
    );
    border-color: var(--cover-border-color);
    border-style: solid;
    border-width: var(--paper-border-width);
    box-sizing: border-box;
    height: var(--binder-height);
  }

  .front-cover {
    border-radius: var(--paper-border-width) 0 0 var(--paper-border-width);
    width: var(--binder-width);
  }

  .spine {
    width: var(--binder-spine-width);
  }

  .back-cover {
    border-radius: 0 var(--paper-border-width) var(--paper-border-width) 0;
    width: var(--binder-width);
  }

  .page-stack {
    height: var(--page-height);
    width: var(--page-width);
    position: absolute;
    left: calc(var(--binder-spine-width) - var(--paper-hole-offset));
    top: calc((var(--binder-height) - var(--page-height)) / 2);
    transform-style: preserve-3d;
  }

  .binder-page {
    height: var(--page-height);
    position: absolute;
    width: var(--page-width);

    .page-side {
      backface-visibility: hidden;
      background-color: var(--paper-color);
      border-color: var(--paper-border-color);
      border-radius: var(--paper-border-width);
      border-style: solid;
      border-width: var(--paper-border-width);
      box-sizing: border-box;
      height: 100%;
      padding: var(--page-padding);
      position: absolute;
      width: 100%;

      &.back {
        transform: rotateY(180deg);
      }

      textarea {
        background-color: inherit;
        background-image: repeating-linear-gradient(
          180deg,
          var(--line-color) 0mm,
          var(--line-color) var(--line-width),
          transparent var(--line-width),
          transparent var(--line-height)
        );
        border: none;
        box-sizing: border-box;
        font-size: calc(var(--line-height) * 0.8);
        height: 100%;
        line-height: var(--line-height);
        outline: none;
        overflow: clip;
        resize: none;
        width: 100%;
      }
    }
  }
}
