.desk {
  width: 100%;
  height: 100%;
  background-color: var(--desk-color);

  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;

  &.binder-closed {
    zoom: 50%;
  }

  &.binder-open {
    zoom: 75%;
  }
  
  &.rings-open {
    zoom: 60%;
  }

  & .workspace {
    height: var(--workspace-height);
    width: var(--workspace-width);
  }
}
