.notepad {
  --back-cover-color: #cbb491;
  --back-cover-border-color: #8e6e4b;
  --cover-margin: 1mm;
  --front-cover-border-color: #a53e14;
  --front-cover-color: #d86432;
  --front-cover-color-light: #ee8e62;
  --line-color: #d9d9d9;
  --line-height: 6mm;
  --page-height: 105mm;
  --page-padding: 9.5mm 4mm 4mm 4mm;
  --page-width: 74mm;
  --paper-border-width: 0.5mm;

  box-shadow: 0mm 2.5mm 5mm rgba(0, 0, 0, 0.75);
  height: var(--page-height);
  position: relative;
  transform: rotateX(10deg);
  transform-style: preserve-3d;
  width: var(--page-width);

  .page-wrapper {
    height: fit-content;
    left: 0;
    position: absolute;
    top: 0;
    transform-style: preserve-3d;
    width: fit-content;
  }

  .front-cover, .back-cover {
    height: calc(var(--page-height) + var(--cover-margin));
    margin-inline: calc(-1 * var(--cover-margin));
    width: calc(var(--page-width) + var(--cover-margin) * 2);
  }

  .note-page {
    height: var(--page-height);
    width: var(--page-width);
  }

  .front-cover .page-side {
    background-image: linear-gradient(
      -30deg,
      var(--front-cover-color),
      var(--front-cover-color-light)
    );
    border-color: var(--front-cover-border-color);
  }

  .back-cover .page-side {
    background-color: var(--back-cover-color);
    border-color: var(--back-cover-border-color);
  }

  .note-page .page-side {
    background-color: var(--paper-color);
    border-color: var(--paper-border-color);

    textarea {
      background-color: inherit;
      background-image: repeating-linear-gradient(
        180deg,
        var(--line-color) 0mm,
        var(--line-color) var(--line-width),
        transparent var(--line-width),
        transparent var(--line-height)
      );
      border: none;
      box-sizing: border-box;
      font-size: calc(var(--line-height) * 0.8);
      height: 100%;
      line-height: var(--line-height);
      outline: none;
      overflow: clip;
      resize: none;
      width: 100%;
    }
  }

  .page {
    box-shadow: 0mm 0mm 1mm rgba(0, 0, 0, 0.25);
    position: relative;
    transform-style: preserve-3d;

    .page-side {
      backface-visibility: hidden;
      border-radius: var(--paper-border-width);
      border-style: solid;
      border-width: var(--paper-border-width);
      box-sizing: border-box;
      height: 100%;
      left: 0;
      padding: var(--page-padding);
      position: absolute;
      top: 0;
      width: 100%;

      &.back {
        transform: rotateY(180deg);
      }
    }
  }
}
