:root {
  --back-cover-color: #d6b78f;
  --back-cover-border-color: #cdb394;
  --cover-margin: 1mm;
  --front-cover-color: #252527;
  --front-cover-border-color: #17171C;
  --line-height: 8mm;
  --page-height: 176mm;
  --page-padding: 9mm 4mm 4mm 4mm;
  --page-width: 125mm;
}

.notepad {
  box-shadow: 0mm 2.5mm 5mm rgba(0, 0, 0, 0.75);
  height: var(--page-height);
  position: relative;
  transform: rotateX(10deg);
  transform-style: preserve-3d;
  width: var(--page-width);

  .page-wrapper {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform-style: preserve-3d;
    width: 100%;
  }

  .front-cover, .back-cover {
    height: calc(var(--page-height) + var(--cover-margin) * 2);
    width: calc(var(--page-width) + var(--cover-margin) * 2);
    margin-left: calc(-1 * var(--cover-margin));
  }

  .note-page {
    height: var(--page-height);
    width: var(--page-width);
  }

  .front-cover .page-side {
    background-color: var(--front-cover-color);
    border-color: var(--front-cover-border-color);
  }
  
  .back-cover .page-side {
    background-color: var(--back-cover-color);
    border-color: var(--back-cover-border-color);
  }

  .note-page .page-side{
    background-color: var(--paper-color);
    border-color: var(--paper-border-color);

    section {
      height: 100%;
      width: 100%;

      background-image: repeating-linear-gradient(
        180deg,
        var(--line-color) 0mm,
        var(--line-color) var(--line-width),
        transparent var(--line-width),
        transparent var(--line-height)
      );

      textarea {
        background-color: inherit;
        border: inherit;
        box-sizing: border-box;
        font-size: calc(var(--line-height) * 0.8);
        height: 100%;
        line-height: var(--line-height);
        outline: inherit;
        overflow: clip;
        resize: none;
        width: 100%;
      }
    }
  }

  .page {
    box-shadow: 0mm 0mm 1mm rgba(0, 0, 0, 0.25);
    position: relative;
    transform-style: preserve-3d;

    .page-side {
      backface-visibility: hidden;
      border-style: solid;
      border-width: var(--paper-border-width);
      border-radius: var(--paper-border-width);
      box-sizing: border-box;
      height: 100%;
      left: 0;
      padding: var(--page-padding);
      position: absolute;
      top: 0;
      width: 100%;

      &.back {
        transform: rotateY(180deg);
      }
    }
  }
}
